<div class="container mt-4">
  <div class="d-flex flex-row align-items-center justify-content-between bg-info p-3">
    <% if user_signed_in? %>
      <div>
        <p class="mb-0 text-start text-primary">
          Welcome, <strong><%= current_user.name || current_user.email %>!</strong>
        </p>
      </div>
    <% else %>
      <div>
        <h1 class="h5 text-white mb-0">Welcome to Flipkart!</h1>
      </div>
    <% end %>

    <div class="flex-grow-1 mx-3">
      <%= form_with url: "/search", method: :get, class: "d-flex" do |form| %>
        <%= form.text_field :query, class: "form-control me-2 fst-italic fw-lighter", placeholder: "Search Product..." %>
        <%= form.submit "Search", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
  <div class="mt-5">
    <%= render 'products/products_list', products: @products %>
  </div>

  <div class="pagination justify-content-center"> 
    <%= will_paginate @products, 
  renderer: WillPaginate::ActionView::BootstrapLinkRenderer, 
  list_classes: %w(pagination justify-content-center) %>
  </div>
</div>
