<footer class="bg-primary text-dark-50 py-4 mt-3">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-3">
        <h5 class="text-dark">About Flipkart</h5>
        <ul class="list-unstyled">
          <li><%= link_to "Who We Are", "#", class: "text-warning text-decoration-none" %></li>
          <li><%= link_to "Contact Us", "#", class: "text-warning text-decoration-none" %></li>
          <li><%= link_to "Careers", "#", class: "text-warning text-decoration-none" %></li>
        </ul>
      </div>
      <div class="col-md-4 mb-3">
        <h5 class="text-dark">Customer Service</h5>
        <ul class="list-unstyled">
          <li><%= link_to "Help Center", "#", class: "text-warning text-decoration-none" %></li>
          <li><%= link_to "Returns", "#", class: "text-warning text-decoration-none" %></li>
          <li><%= link_to "Shipping", "#", class: "text-warning text-decoration-none" %></li>
        </ul>
      </div>
      <div class="col-md-4 mb-3">
        <h5 class="text-dark">Follow Us :</h5>
        <a href="https://twitter.com/your-profile" class="text-warning me-2 social-icon-link" target="_blank">
            <img width="50" height="50" src="https://img.icons8.com/?size=100&id=vzeEiquVUR7e&format=png&color=000000" alt="twitterx--v1"/>
        </a>
        <a href="https://instagram.com/your-profile" class="text-warning me-2 social-icon-link" target="_blank">
            <img width="50" height="50" src="https://img.icons8.com/?size=100&id=BrU2BBoRXiWq&format=png&color=000000" alt="instagram-new--v1"/>
        </a>
        <a href="https://facebook.com/your-profile" class="text-warning me-2 social-icon-link" target="_blank">
            <img width="50" height="50" src="https://img.icons8.com/?size=100&id=z657ovoGgS2o&format=png&color=000000" alt="facebook--v1"/>
        </a>
       </div>

    </div>
    <div class="border-top border-secondary my-3"></div>
    <div class="row">
      <div class="col-12 text-center">
        <p class="mb-0">© <%= Time.now.year %> Flipkart. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>
